{% extends 'base.html' %}
{% load custom_filters %}  <!-- カスタムフィルタをロード -->

{% block title %}カウント表{% endblock %}

{% block style %}
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0 10px;
        background-color: #f4f4f4;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    h2 {
        margin-top: 20px;
        color: #333;
    }
{% endblock %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        {% for category_key, products in categories.items %}
            <h2>{{ category_choices|get_item:category_key }}</h2>  <!-- カテゴリ名を表示 -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>商品名</th>
                        <th>個数</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>
                                <input type="number" class="form-control" name="quantity_{{ product.id }}" value="{{ product.quantity }}" min="0">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        <button type="submit" class="btn btn-primary mt-3">リストを更新</button>
    </form>

{% endblock %}
