{% extends 'base.html' %}
{% block title%}
    <h1>商品一覧</h1>
{% endblock %}
{% block content %}

    <!-- カテゴリ選択フィルタ -->
    <form method="get">
        <select name="category" onchange="this.form.submit()">
            <option value="">すべてのカテゴリ</option>
            <option value="1" {% if selected_category == '1' %}selected{% endif %}>菓子パン</option>
            <option value="2" {% if selected_category == '2' %}selected{% endif %}>食パン</option>
            <option value="3" {% if selected_category == '3' %}selected{% endif %}>ブレッド他</option>
            <option value="4" {% if selected_category == '4' %}selected{% endif %}>惣菜・デニ</option>
            <option value="5" {% if selected_category == '5' %}selected{% endif %}>ドーナツ</option>
            <option value="6" {% if selected_category == '6' %}selected{% endif %}>常温サンド</option>
            <option value="7" {% if selected_category == '7' %}selected{% endif %}>冷蔵サンド</option>
            <option value="8" {% if selected_category == '8' %}selected{% endif %}>その他</option>
        </select>
    </form>

    <!-- 商品リスト -->
    <ul>
        {% for product in products %}
            <li>{{ product.name }} - {{ product.get_category_display }}</li>
        {% endfor %}
    </ul>
{% endblock %}
